ACCESS_TOKEN="supersecret"
REDIS_PASSWORD="Super3ecretPassword"
REDIS_HOST="localhost"
REDIS_PORT="63769"
OBJECT_STORAGE_REGION="ir-thr-at1"
OBJECT_STORAGE_BUCKET="example"
OBJECT_STORAGE_ENDPOINT="https://s3.ir-thr-at1.arvanstorage.ir"
OBJECT_STORAGE_ACCESS_KEY="bruh"
OBJECT_STORAGE_SECRET_KEY="bruh"
PORT="8080"